:root {
  --sidebar-color: white;
  --primary-grey: grey;
  --side-padding: 0 24px;
  --bg-yellow-profile: #fef8ec;
  --primary-blue: #2772f0;
  --small-font: 12px;
  --primary-dark: rgba(9, 27, 61, 1);
  --bg-right-main: #fef8ec;
  --bg-right-secondary: #fdf1db;
  --border-radius: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* font-family: "Sk-Modernist"; */
}

li {
  list-style: none;
}

.side-bar {
  height: fit-content;
  width: 240px;
  color: var(--primary-grey);
  display: flex;
  flex-direction: column;
  padding: var(--side-padding);
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
}

.profile-card {
  margin-top: 44px;
  background-color: var(--bg-yellow-profile);
  display: flex;
  flex-direction: column;
  padding: 32px;
  text-align: center;
  border-radius: 16px;
  margin-bottom: 24px;
}

.profile-name {
  font-weight: 700;
  line-height: 26px;
  margin-top: 16px;
  margin-bottom: 2px;
}

.profile-job {
  font-size: var(--small-font);
  line-height: 16px;
}

.side-menu {
  margin-bottom: 150px;
}

.side-menu li {
  height: 56px;
  width: 240px;
  display: flex;
  gap: 16px;
  align-items: center;
}

.schedule {
  width: 120px;
}

.schedule-span {
  margin-left: -8px;
}

.my-teams-container h3 {
  margin-bottom: 16px;
}

.my-teams-container__team-profile {
  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: 16px;
  background-color: var(--bg-yellow-profile);
}

.my-teams-container__team-profile-name {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.team-profile-name {
  font-size: var(--small-font);
}

.add-new-team {
  width: 192px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  background: transparent;
  border: 1px solid rgb(206, 205, 205);
  border-radius: 16px;
  color: var(--primary-blue);
  font-weight: 700;
  margin-bottom: 21px;
}

.dark-font {
  color: var(--primary-dark);
  font-weight: 700;
}

.profile-img img {
  border-radius: 16px;
}

.add-new-team img {
  vertical-align: middle;
}

/* right page */

.main-container {
  display: flex;
}

.right-section {
  flex-grow: 1;
  padding: 32px 64px 64px 64px;
  background-color: var(--bg-right-main);
}

header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}

header img {
  vertical-align: middle;
}

.input-container {
  padding: 16px 52px;
  background-color: #fff;
  border-radius: var(--border-radius);
  position: relative;
}

.input-container img {
  position: absolute;
  left: 16px;
}

.input-container input {
  width: 191px;
  height: 24px;
  border: none;
  outline: none;
}

.right-menu-icons {
  display: flex;
  gap: 24px;
}

.right-menu-icon {
  padding: 16px;
  border-radius: var(--border-radius);
  background-color: var(--bg-right-secondary);
}

.header-right-menu {
  display: flex;
  align-items: center;
  gap: 24px;
}

header button {
  padding: 16px 24px;
  border-radius: var(--border-radius);
  background-color: var(--primary-blue);
  color: white;
  border: none;
  font-size: 14px;
}

header button img {
  margin-right: 8px;
  vertical-align: middle;
}

/* main-info */

.main-info {
  margin: 32px 0 64px 0;
}

.main-info-left {
  height: 808px;
  width: 334px;
}

.main-info-left__nav {
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
}

.main-info-left__nav-links {
  font-weight: bold;
}
.main-info-left__nav-links span {
  color: var(--primary-grey);
}

.main-info-left__containers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-info-left__container {
  overflow: hidden;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: var(--border-radius);
  background-color: var(--bg-right-secondary);
}

.main-info-left__container-content {
  display: flex;
  background-color: white;
  border-radius: 16px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}

.main-info-left__container-content h5 {
  width: 286px;
}

.main-info-left__container-content-profile img {
  border-radius: 50%;
}

.main-info-left__container-content-profile {
  gap: 16px;
  align-items: center;
  display: flex;
}

.watching-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.watching {
  gap: 10px;
}

.watching img {
  border-radius: 5px;
}

.plus-9 {
  border: 1px solid rgb(231, 226, 226);
  padding: 5px;
  border-radius: 10px;
}

.CoTeam {
  background-color: #f5b545;
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
}

.design {
  background-color: var(--primary-blue);
  color: white;
  padding: 5px 8px;
  border-radius: 8px;
}

.ca-product {
  color: white;
  padding: 5px 8px;
  background-color: #e65220;
  border-radius: 8px;
  min-width: 100px;
}

.ui {
  color: white;
  padding: 5px 8px;
  background-color: #4b9f47;
  border-radius: 8px;
  min-width: 100px;
}
.main-info-left__tags {
  font-size: 12px;
}

.mark-as-done {
  margin-top: 84px;
  border: 1px solid rgb(231, 230, 230);
  color: var(--primary-blue);
  border-radius: var(--border-radius);
  padding: 16px 122px;
  background-color: transparent;
}
